html {
  font-size: 10px;
}
/* 
@media (max-width: 4800px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 3600px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 2400px) {
  html {
    font-size: 11px;
  }
}


@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}


@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
} */