.search-result-container .title {
  min-width: fit-content;
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 10%;
  font-family: 'Times New Roman', Times, serif
}

.content {
  min-width: 100%;
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0px 20px;
  border: none;
  margin-bottom: 100px;
}

.search-result .course-item {
  padding: 20px;
  position: relative;
  border-top: 1px gainsboro solid;
  display: flex;
}

.search-result-container .course-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.search-result-container .price {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 20px;
  text-align: left;
}

.search-result-container .arrToCartBtn {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.search-result .icon-demo {
  display: inline-block;
  color: white;
  background-color: rgb(22, 92, 145);
  border-radius: 25px;
}

.search-result .icon-course {
  width: 48px;
  height: 48px;
  padding: 7px 8px;
}

/* 共有的分页样式 */
.pagination-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 20px 0;
}

.page-info {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
}

/* 共有的按钮样式 */
.search-result-container button {
  width: fit-content;
  border: none;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  color: rgb(22, 92, 145);
  background-color: white;
  border-radius: 8px;
  transition: all 0.2s;
}

.search-result-container button:hover {
  background-color: rgba(22, 92, 145, 0.1);
}

/* 共有的课程价格样式 */
.search-result-container .course-price {
  width: 80px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 600;
}